<div class="my-4">
  <h2>{{title}}</h2>
  <hr>
  <div class="row">
    <div class="col" *ngIf="route !== 'region'">
      <shared-search-box [placeholder]="placeholder" [initialValue]="initialValue" (onSearch)="searchBy(route, $event)"></shared-search-box>
    </div>
    <div class="col text-center">
      <button *ngFor="let region of regions" class="btn mx-2" (click)="searchBy(route, region)" [ngClass]="{'btn-primary': selectedRegion === region}">
          {{region}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <page-table [countries]="countries"></page-table>
    </div>
  </div>
</div>

